div.chart-container {
	position: relative;
	width: 90vw;
	height: fit-content;
	margin: 20px auto;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 5px 5px 5px 2px gray;
}

div.doughnut-chart-container {
	position: relative;
	width: 90vw;
	height: fit-content;
	margin: 20px auto;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 5px 5px 5px 2px gray;
}
